<template>
  <div>
    <div class="uk-container">
      <!--TODO: header component? -->
    </div>
    <div class="uk-offcanvas-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {};
    },
    components: {},
  }
</script>

<style>
</style>