<template>

      <vk-card class=" uk-height-viewport uk-card-secondary uk-card-large">
        <h1 class="uk-heading-hero uk-heading-line uk-position-center ">404 :(</h1>
      </vk-card>
</template>

<script>
  module.exports = {
    data: () => {
      return {}
    }
  }
</script>

<style scoped>
</style>