<template>
  <div>
    <div id="messages" v-vk-height-viewport="{ offsetBottom: 20 }" class="uk-panel uk-panel-scrollable uk-text-left">
      <div v-for="message in messages">
        {{message}}
      </div>
    </div>

    <div id="message-input" class="uk-position-medium uk-position-bottom">
      <vk-icon icon="reply" class="uk-form-icon"></vk-icon>
      <input class="uk-input uk-width-1-1" @keyup.enter="sendMessage"/>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        messages: [],
      };
    },
    created () {
//      FIXME: doesn't work without socket, but socket init in Edit.vue
      this.$options.sockets.onmessage = (data) => this.receiveMessage(data)
    },
    methods: {
      sendMessage(event) {
        let message = event.target.value;
        this.$socket.sendObj({type: 'chat.new_message', message: message});
        event.target.value = ''
      },
      receiveMessage(websocketMessage) {
        var data = JSON.parse(websocketMessage.data);
        this.messages.push(data.message);
      }
    },
  }
</script>
<!--messages height should be responsive-->
<style scoped>
  /*#messages {*/
    /*height: 80%;*/
    /*resize: none;*/
    /*overflow-x: hidden;*/
    /*word-wrap: break-word;*/
  /*}*/
</style>