{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
  <link rel="icon" href="data:;base64,=">
  <meta charset="UTF-8">
  <title>Collann</title>
  <script>
    window.csrf = {
      headerName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
      cookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
    };
  </script>
</head>
<body>
<div id="app">
  <app></app>
</div>
{% render_bundle 'main' %}
</body>
</html>

