<template>
  <div>
    <vk-grid matched divided v-vk-height-viewport.expand gutter="small"
             class="uk-child-width-expand@s">
      <div>
        <vk-card>
          <div contenteditable="true" ref="editor"
               class="noselect"
               @contextmenu.prevent="$refs.ctxMenu.open"
               v-vk-height-viewport="{ offsetBottom: 20 }"
               @selectionchange="setSelection($event)"
               @mouseup="setSelection($event)"
               @mousedown="setSelection($event)"
               @keyup="setSelection($event)"
          >
            <context-menu id="context-menu" ref="ctxMenu">
                  <ul class="uk-nav uk-dropdown-nav">
              <li v-for="option in options"><a href="">{{option}}</a> </li>
                  </ul>
            </context-menu>
            <div v-for="line in dataSet" v-html="line">
            </div>
          </div>
          {{selectionStart}}
          {{selectionEnd}}

        </vk-card>
      </div>
    </vk-grid>
  </div>
</template>

<script>
  import Vue from 'vue';
  import VueNativeSock from 'vue-native-websocket'
  //TODO: use https://mattmezza.github.io/vue-beautiful-chat/ instead?
  //  import Chat from '../chat/Chat.vue';
  import contextMenu from 'vue-context-menu';

  //  todo:
  //  передавать строки и массив с выделениями
  //  выделения оборачивать в спаны на фронте
  //  селекты отдельно передавать
  //  как подгружать новые строки?
  export default {
    data() {
      return {
        dataSet: '',
        dataSetFilePosition: 0,
        hiddenCharsAbove: 0,
        dataSetLinesCount: 35,
        selectionStart: 0,
        selectionEnd: 0,
        options: [
          'Четко выраженное мнение',
          'Действие',
          'Намерение',
          'Призыв'
        ]
      };
    },
    created: function () {
      window.addEventListener('wheel', this.handleScroll);
      let path = 'ws://localhost:8000/ws/';
      Vue.use(VueNativeSock, path + this.$route.params.hash, {
        reconnection: true,
        reconnectionAttempts: 5,
        reconnectionDelay: 3000,
        format: 'json'
      });
      this.$socket.onopen = () => {
        this.$socket.onmessage = (data) => this.receiveMessage(data);
        this.getDataSet()
      };
      this.$watch(vm => [vm.selectionStart, vm.selectionEnd].join(), this.reportNewSelection)
    },
    destroyed() {
      window.removeEventListener('wheel', this.handleScroll);
    },
    watch: {
      dataSetFilePosition() {
        this.getDataSet()
      },
    },
    methods: {
      receiveMessage(websocketMessage) {
        let message = JSON.parse(websocketMessage.data);
        switch (message.type) {
          case 'data.get_file_chunk':
            this.refreshText(message);
            break;
          case 'data.set_selection':
            this.showSelections(message);
            break;
        }
      },
      showSelections(message) {
        //todo: для разных юзеров
        let start = message.start;
        let end = message.end;
        let currentIndex = 0;
        this.dataSet.forEach(function (uselessLine, lineIndex, dataSet) {
          let updatedLine = '';
          let spanAdded = false;
          let line = dataSet[lineIndex];
          line = line.replace(/<(?:[^(br)]|\n)*?>/gm, '');
          line = line.replace(/<(?:br[ /]*)>/gm, '\n');

          for (let value of line.split('')) {
            if (currentIndex >= start && currentIndex < end) {
              if (!spanAdded) {
                updatedLine += '<span class="textSelection">';
                spanAdded = true;
              }
            } else {
              if (spanAdded) {
                updatedLine += '</span>';
                spanAdded = false;
              }
            }
            updatedLine += value;
            currentIndex++;
          }
          if (spanAdded) {
            updatedLine += '</span>'
          }
          updatedLine = updatedLine.replace(/\r\n/gm, '<br />\n');
          dataSet[lineIndex] = updatedLine;
        });

      },
      reportNewSelection() {
        this.$socket.sendObj({
          type: 'data.set_selection',
          start: this.selectionStart,
          end: this.selectionEnd,
          hidden: this.hiddenCharsAbove
        });
      },
      getDataSet() {
        this.$socket.sendObj({
          type: 'data.get_file_chunk',
          start: this.dataSetFilePosition,
          end: this.dataSetFilePosition + this.dataSetLinesCount
        });
      },
      refreshText(message) {
        this.dataSet = message.data;
        this.dataSet.forEach(function (v, i, a) {
          a[i] = v.replace(/^[\r\n]+/, '<br />\n');
        });
        this.selectionStart = 0;
        this.selectionEnd = 0;
      },
      handleScroll(event) {
        let step = Math.round(Math.abs(event.deltaY) / 68)
        console.log(step);
        if (event.deltaY < 0 && this.dataSetFilePosition > 0) {
          console.log('scrolling up');
          this.dataSetFilePosition -= step;
        }
        if (event.deltaY > 0) {
          console.log('scrolling down');
          this.dataSetFilePosition += step;
        }
      },
      setSelection(e) {
        console.log(e.shiftKey);
        if (e.shiftKey)
          return;
        let element = this.$refs.editor;
        let start = 0;
        let end = 0;
        let doc = element.ownerDocument || element.document;
        let win = doc.defaultView || doc.parentWindow;
        let sel;
        if (typeof win.getSelection != "undefined") {
          sel = win.getSelection();
          if (sel.rangeCount > 0) {
            let range = win.getSelection().getRangeAt(0);
            let preCaretRange = range.cloneRange();
            preCaretRange.selectNodeContents(element);
            preCaretRange.setEnd(range.startContainer, range.startOffset);
            start = preCaretRange.toString().replace(/<(?:.|\n)*?>/gm, '').length;
            preCaretRange.setEnd(range.endContainer, range.endOffset);
            end = preCaretRange.toString().replace(/<(?:.|\n)*?>/gm, '').length;
          }
        } else if ((sel = doc.selection) && sel.type != "Control") {
          let textRange = sel.createRange();
          let preCaretTextRange = doc.body.createTextRange();
          preCaretTextRange.moveToElementText(element);
          preCaretTextRange.setEndPoint("EndToStart", textRange);
          start = preCaretTextRange.text.replace(/<(?:.|\n)*?>/gm, '').length;
          preCaretTextRange.setEndPoint("EndToEnd", textRange);
          end = preCaretTextRange.text.replace(/<(?:.|\n)*?>/gm, '').length;
        }
        this.selectionStart = start;
        this.selectionEnd = end;
      },
    },
    components: {
//      Chat,
      contextMenu
    },
  }
</script>

<style type="text/css">
  html, body {
    overflow-y: hidden;
  }

  .textSelection {
    background-color: #81d4fa;
  }

  .uk-nav>li>a{
    padding: 5px 10px 5px 10px;
  }
  .uk-nav a:hover {
    background-color: #9fd6ff;
  }
</style>

