<template>
  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <h1 class="uk-heading-hero uk-align-center">Collann</h1>
      <h2 class="uk-align-center">
        Real time <span class="uk-text-primary">coll</span>aborative <span
          class="uk-text-success">ann</span>otation tool
      </h2>
      <hr class="uk-divider-small">

      <article class="uk-article">

        <!--<p class="uk-column-1-2@s uk-dropcap">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!---->
        <!--<p class="uk-article-meta">Written by <a href="#">Super User</a>-->
          <!--on 12 April 2012. Posted in <a href="#">Blog</a></p>-->

        <hr class="uk-divider-icon uk-margin-medium">

        <vk-button type="primary" size="large" class="uk-align-center"
                   @click="showSelectDataSet = !showSelectDataSet">
          Get started
        </vk-button>
      </article>
    </div>

    <vk-modal :show.sync="showSelectDataSet">
      <vk-modal-close @click="showSelectDataSet = false"></vk-modal-close>
      <vk-modal-title slot="header">{{modalTitle}}</vk-modal-title>
      <div class="uk-overflow-auto uk-height-small">
        <vk-table :data="dataSets" :selected-rows.sync="selectedDataSet"
                  class="file-table"
                  row-selectable
                  narrowed
                  justified
                  responsive
                  hoverable>
          <vk-table-column title="Created" cell="created"></vk-table-column>
          <vk-table-column title="Name" cell="name"></vk-table-column>
          <vk-table-column title="Modified" cell="modified"></vk-table-column>
          <vk-table-column title="Size" cell="size"></vk-table-column>
        </vk-table>
      </div>
      <div class="uk-margin">
        <vk-button type="danger" :disabled="buttonsDisabled"
                   @click="removeFile">
          Delete
        </vk-button>
        <vk-button type="primary" :disabled="buttonsDisabled"
                   @click="chooseFile">
          Choose
        </vk-button>
      </div>
      <div slot="footer" class="uk-text-right">
        <vue-dropzone ref="myVueDropzone" id="dropzone"
                      :options="dropzoneOptions"
                      @vdropzone-queue-complete="getdataSetsList"
        ></vue-dropzone>
      </div>
    </vk-modal>
  </div>
</template>

<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import axios from 'axios'

  //  TODO: use dialog https://vuejsexamples.com/tag/dialog/ for delete?
  export default {
    data: function () {
      return {
        showSelectDataSet: true,
        dataSets: [],
        selectedDataSet: [],
        dropzoneOptions: {
          acceptedFiles: '.txt,.xml',
          paramName: 'source_file',
          url: '/api/annotation/data-sets/',
          maxFilesize: 50,
          headers: {[window.csrf.headerName]: this.$cookie.get(window.csrf.cookieName)}
        },
      };
    },
    computed: {
      modalTitle: function () {
        return this.dataSets.length > 0 ?
          'Choose a collection or upload a new one.' : 'Upload a collection'
      },
      buttonsDisabled: function () {
        return this.selectedDataSet.length === 0
      }
    },
    created: function () {
      axios.defaults.headers.common[window.csrf.headerName] =
        this.$cookie.get(window.csrf.cookieName);
      this.getdataSetsList();
    },
    methods: {
      chooseFile: function () {
        let hash = this.dataSets.find(obj => {
          return obj.id === this.selectedDataSet[0]
        }).set_hash;
        this.showSelectDataSet = false;
        this.$router.push({name: 'edit-data-set', params: {hash}})
      },
      removeFile: function () {
        let deletePath = '/api/annotation/data-sets/';
        let fileId = this.selectedDataSet[0];
        axios.delete(deletePath + fileId + '/').then(response => {
          this.getdataSetsList()
        });
        this.selectedDataSet = []
      },
      getdataSetsList: function (file, xhr, formData) {
        axios.get('/api/annotation/data-sets.json').then(response => {
          this.dataSets = response.data
        })
      }
    },
    components: {
      vueDropzone: vue2Dropzone
    },
  }
</script>

<style>
  .dz-detail, .dz-image {
    max-height: 150px;
  }
</style>